{% extends 'index.html' %}

{% block conteudo %}
<div id="conteudo">
	<div class="bloco">
		<div class="localizacao">
			<div class="titulo">
				<p class="tipo">
				DICAS 4X4
				</p>
			</div>
			<div id="texto">
				<div id="voltar">
					<a href="{% url views.index %}">Voltar para página inicial</a>
				</div>
					<div id="dicas">
							<p>
								1)	Ao se aproximar de um terreno inconsistente e enlameado deve-se aumentar a velocidade em marcha baixa (em segunda ou terceira), evitando acelerações exageradas que possam fazer o veículo patinar e procurar manter sempre uma velocidade constante. Dirigir nos sulcos variando as acelerações e movendo o volante de um lado para o outro possibilita que os pneus tenham uma maior tração e evita as derrapagens.
							</p>
							<br>
							<p>
								2)	A habilidade na condução do veículo em terreno rochoso está em manter-se ao nível mais alto possível da região que está se atravessando com a finalidade de evitar danos no diferencial, na transmissão ou no sistema ABS. A força de tração é mais importante que a potência quando se percorre uma inclinação rochosa. Por isso, manter-se em primeira ou segunda marcha com uma relação baixa é a melhor coisa a se fazer. 
							</p>
							<br>
							<p>
								3)	Para enfrentar a água é importante que as partes elétricas estejam bem protegidas com graxa, à base de silicone, nas partes vulneráveis. É indispensável que a água não penetre no escapamento e no motor. Antes de atravessar riachos é importante inspecionar o percurso: um rio com corrente forte é sinal de que o leito não é lamacento. Corrente fraca pode implicar limo macio e profundo - verificar a profundidade da água e a presença de limo com uma pá ou qualquer objeto semelhante - e certificar-se de que não existem buracos ou rochas grandes que possam ser obstáculos para a travessia. E ainda observar atentamente as condições da margem de entrada e de saída do rio. 
							</p>
							<br>
							<p>
								4)	Em situações com areia não compactada utilizar uma relação 4x4 alta, o que permitirá manter uma velocidade constante. Caso o veículo atole, utilizar uma relação mais baixa. A areia não compactada e macia reduz muito a tração prejudicando a performance do automóvel. A velocidade contínua é sempre a melhor saída para este tipo de situação. 
							</p>
							<br>
							<p>
								5)	Para enfrentar uma subida com segurança, é fundamental que você NÃO efetue trocas de marcha no meio da subida. Em uma rampa Muito íngreme, a troca de marcha vai fazer o veiculo perder muita velocidade, forçando o conjunto na hora de voltar a tracionar. O melhor a se fazer, é iniciar a subida em uma marcha forte, primeira ou segunda reduzida (se tiver). 
							</p>
							
					</div>
				</div>
		</div>
	</div>
</div>


{% endblock %}