{% extends 'index.html' %}

{% block conteudo %}
<div id="conteudo">
	<div class="bloco">
		<div class="localizacao">
			<div class="titulo">
				<p class="tipo">
				EXPEDIÇÕES
				</p>
			</div>
			<div id="texto">
				<div id="voltar">
					<a href="{% url views.index %}">Voltar para página inicial</a>
				</div>
					<div id="expedicao">
							<p>Nada melhor que uma viagem longa para relaxar, conhecer novos lugares, esquecer os problemas, deixando-os perto de casa...
								  Um veículo 4x4 pode te levar a lugares inusitados, basta você querer !
							</p>
								<br>
								<p>
									Mas para que sua viagem seja realmente inesquecível, deve-se antes de mais nada fazer uma profunda revisão de toda a parte mecânica e elétrica do veículo. 
									Procure checar todos os itens importantes (luzes, suspensão, motor, transmissão, vazamentos, etc...), mas não deixe para fazer isso muito em cima do prazo, o ideal é fazer a revisão cerca de 30 dias antes da viagem.
								</p>
								<br>
								<p>É importante verificar junto ao fabricante do veículo (ou mesmo no manual de manutenção) quais itens devem ser levados como reserva para caso de quebra, é muito mais fácil 
									encontrar um mecânico capaz em qualquer lugar do que encontrar o mecânico, as ferramentas e as peças para o reparo. 
								</p>
								<br>
								<p>
									A essência de uma expedição é de deixar o conforto de nossa casa, para ir em busca do desconhecido, mas com segurança !  
								</p>
								<br>
								<p>Aproveite sua viagem.</p>
								<br>
								
									<div class="tituloEvento">
										<p class="tipo">
										EVENTOS
										</p>
									</div>
										
										<div id="expedicaoeventos">
											<br><br><br>
											<p>A maioria dos eventos realizados pela Matão 4x4 são dirigidos a grupos fechados. Porém, também realizamos eventos abertos como aniversário de cidade (com pista indoor) e sociais com a participação de entidades sociais. </p>
											<br>
												<p>Entre em contato com nossa empresa, faça um evento off-road para seus amigos, família e para a sua cidade.</p>
											
										</div>
							
					</div>
				</div>
		</div>
	</div>
</div>


{% endblock %}