{% extends 'index.html' %}

{% block conteudo %}
<script src="http://www.sysnetwork.com.br/web-libs/jquery.maskedinput-1.2.2.js"></script>
<script>
 $(document).ready(function(){  
 $(function(){  
 $("#id_telefone").mask("(99)9999-9999");  
 });  
 }); 
 </script>
<script src="{{MEDIA_URL}}js/jquery.msg.min.js"></script>
<script src="{{MEDIA_URL}}js/jquery.center.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.msg.css"/>
<div id="conteudo">
	<div class="bloco">
		<div class="titulo">
			<p class="tipo">
				{{veiculo.modelo}}
			</p>
		</div>
		<div id="texto">
			<div id="voltar">
				<a href="{% url views.index %}">Voltar para página inicial</a>
			</div>
			<div id="fotomaior">
				<!-- Foto do veiculo -->
				<img src="{{MEDIA_URL}}{{veiculo.obterFoto}}" width="300" height="250"/>
			</div>
			<div id="descricao">
				<!-- Descrição do veiculos -->
				<p>
					<b>{{veiculo.modelo}}</b>
					<br/>
					<br/>
					<b>Marca</b>: {{veiculo.marca}}
					<br/>
					<b>Valor</b>: R${{veiculo.valor}}
					<br/>
					<br/>
					<b>Descrição</b>: {{veiculo.descricao|linebreaks}}
				</p><br/>
				<p><b>Compartilhe!</b></p>
				<table cellpadding="5" style="margin-left: -5px;">
				    <tr align="center">
				    	<td><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" rel="nofollow"></a></td>
				    	<td><a name="fb_share" type="button" share_url="{{ url }}"></a></td>
				    </tr>
				</table>
				<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
				<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</div>
			<div id="galeria">
				<!-- galeria de fotos -->
				{% for foto in veiculo.obterFotos %} <a onclick="getFotoMaior('{{foto.foto}}');" href="javascript:void(0);"> <img src="{{MEDIA_URL}}{{foto.foto}}" width="80" height="80" /> </a>
				{% endfor %}
			</div>
			<div id="contatoAcessorio">
				<p>Faça uma proposta! Envie-nos um e-mail.<br/>Campos com (*) devem ser preenchidos.</p>
					<form id="formVeiculo" method="post">
						{% csrf_token %}
						<table>
							<tr>
								<td>
									{{formVe.modelo.errors}}
									{{formVe.modelo}}
								</td>
							</tr>
							<tr>
								<td>
									{{formVe.marca.errors}}
									{{formVe.marca}}
								</td>
							</tr>
							<tr>
								<td>
									{{formVe.valor.errors}}
									{{formVe.valor}}
								</td>
							</tr>
							<tr>
								<td>Nome(*): </td>
								<td>{{formVe.nome.errors}}
									 {{formVe.nome}} </td>
							</tr>
							<tr>
								<td>Email(*): </td>
								<td>{{formVe.email.errors}}
									{{formVe.email}}
								</td>
							</tr>
							<tr>
								<td>Telefone: </td>
								<td>{{formVe.telefone.errors}}
									{{formVe.telefone}}</td>
							</tr>
							<tr>
								<td>Mensagem(*): </td>
								<td>{{formVe.mensagem.erros}}
									{{formVe.mensagem}}</td>								
							</tr>
							
						</table>
						<small><b><a href="javascript:abrir('{%url views.newsletter%}','240','185');">Quer receber novidades no seu e-mail? Clique aqui!</a></b></small><br/><br/>
						<input class="buttons" type="submit" value="Enviar"/>
						<input class="buttons" type="reset" value="Limpar campos" />
					</form>				
					{% if mensagem %}
					<script>alert("{{mensagem}}");</script>
					{% endif %}
			</div>			
		</div>
	</div>
</div>
<div id="comoComprar" style="display: none;">
	<h3>Como Comprar</h3>
	<p align="center">
		<font color="#000">Gostamos de negociar!<br/> É pensando assim que buscamos as melhores negociações e o preço mais justo em nossos produtos.
		O único formato de compra no Matão 4x4 é o depósito bancário, dessa forma podemos negociar melhores condições com nossos fornecedores e repassar esse benefício a você cliente.
		Faça como muitos clientes que já compraram e continuam comprando dessa forma, mande-nos um e-mail e vamos negociar o melhor preço.</font>
	</p>
</div>
{% endblock %}
